<div class="home-container">
    <div class="home-content">

        <div class="home-text">
            <h1>¡Los mejores postres<br />en un solo lugar!</h1>
            <p class="lead">Explora nuestro catálogo de postres y realiza tu pedido</p>
            <a href="@Url.Action("Index", "ClientProduct")" class="btn-purple">Empezar</a>
        </div>

        <div class="home-img">
            <img src="~/Content/images/image 1.png" alt="Postres" />
        </div>

    </div>
</div>