﻿@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inicio-container">
    <div class="inicio-contenido">

        <div class="inicio-text">
            <h1>¡Los mejores postres<br />en un solo lugar!</h1>
            <p class="lead">Explora nuestro catálogo de postres y realiza tu pedido</p>
            <a href="@Url.Action("Comprar", "Home")" class="btn-morado">Empezar</a>
        </div>

        <div class="inicio-img">
            <img src="~/Content/images/image 1.png" alt="Postres" />
        </div>

    </div>
</div>