<div class="promotions-container">
    <div class="promotions-header">
        <h2>Promociones</h2>
        <button class="btn-purple">Nueva Promoción</button>
    </div>

    <div class="promotions-table">
        <div class="row header">
            <div>Producto</div>
            <div>Nombre</div>
            <div>Descripción</div>
            <div>Porcentaje de Descuento</div>
            <div>Categoría Asociada</div>
            <div>Fecha Inicio</div>
            <div>Fecha Fin</div>
            <div>Acción</div>
        </div>

        
        <div class="row-Promotions">
            <div>
                <img src="@Url.Content("~/Content/images/Postre 1.jpg")" alt="Postre 1" class="product-img" />
            </div>
            <div>Brownie</div>
            <div>Chocolate intenso</div>
            <div>20%</div>
            <div>Postres</div>
            <div>2025-04-01</div>
            <div>2025-04-30</div>
            <div class="acciones">
                <button class="btn-icon" title="Editar">
                    <img src="@Url.Content("~/Content/icons/edit.svg")" alt="Editar" class="icon-svg" /> Editar
                </button>
                <button class="btn-icon" title="Eliminar">
                    <img src="@Url.Content("~/Content/icons/delete.svg")" alt="Eliminar" class="icon-svg" /> Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
